{% extends "base.html" %}
{% block title %}
Food Tracker | Add Food
{% endblock %}

{% block body %}

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>

          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Foods</h3>
            </div>

            <div class="panel-body">

              <form method="POST" action="{{ url_for('add_food') }}">
                {{ form.csrf_token }}
                <div class="form-group">
                  <label for="{{ form.food_name.name }}">{{ form.food_name.label.text }}</label>
                  {{ form.food_name(class_='form-control',placeholder=form.food_name.label.text)|safe }}
                  <ul>
                    {% for error in form.food_name.errors %}
                      <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group">
                  <label for="{{ form.protein.name }}">{{ form.protein.label.text }}</label>
                  {{ form.protein(class_='form-control',placeholder=form.protein.label.text)|safe }}
                  <ul>
                    {% for error in form.protein.errors %}
                      <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group">
                  <label for="{{ form.carbohydrates.name }}">{{ form.carbohydrates.label.text }}</label>
                  {{ form.carbohydrates(class_='form-control',placeholder=form.carbohydrates.label.text)|safe }}
                  <ul>
                    {% for error in form.carbohydrates.errors %}
                      <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group">
                  <label for="{{ form.fat.name }}">{{ form.fat.label.text }}</label>
                  {{ form.fat(class_='form-control',placeholder=form.fat.label.text)|safe }}
                  <ul>
                    {% for error in form.fat.errors %}
                      <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>

              <div class="page-header"></div>

              {% for food in results %}

              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a>{{ food.name }}</a></li>
                <li><a>Protein: <span class="badge">{{ food.protein }}</span></a></li>
                <li><a>Carbohydrates: <span class="badge">{{ food.carbohydrates }}</span></a></li>
                <li><a>Fat: <span class="badge">{{ food.fat }}</span></a></li>
                <li><a>Calories: <span class="badge">{{ food.calories }}</span></a></li>
              </ul>
              <div class="page-header"></div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>

    </div>
{% endblock %}